:root{
    --blue:yellow;
}



.happy{
    width: 200px;
    height: 200px;
    background-color: var(--blue);
    transform: rotate(0deg);
    transition: width 3s;
    transition-timing-function: ease-in;

}
.happy:hover{
    width: 600px;
}